<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{APP.tab_title}}</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
        <style>{{APP.extra_styles}}</style>
    </head>
    <body>
        {% block header%}
        <header>
            <div class="row">
                <h1 class="small-5 column">
                    {% block index_url %}
                    <a href="{% url 'index' %}" title="">
                    {% endblock index_url %}
                        <img src="{% static 'images/logo_ntua.png' %}" alt="">
                    </a>
                    <span>{{APP.title}}</span>
                </h1>
                <div class="small-7 column rt">
                    {% block header_user %}
                        {% if user.is_authenticated %}
                            <p>Καλωσήρθες <strong>{{ user.get_full_name }}</strong> <a href="{% url 'excercise.views.custom_logout' %}">(έξοδος)</a></p>
                        {% endif %}
                    {% endblock header_user %}
                    {% block menu %}{% endblock menu %}
                </div>
            </div>
        </header>
        {% endblock header %}
        <div class="row main">
            {% block main %}
            {% endblock main %}
        </div>
        {% include 'footer.html' %}
        {% block modals %}{% endblock modals %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/foundation.min.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>

