{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block main %}
    <section class="title">
        <h4>{{course.name}}</h4>
        <table class="default">
            <tr>
                <th>'Ονομα</th>
                <th>IP</th>
                <th>Άσκηση</th>
                <th>Έτος</th>
                {% if course.group %}<th>Ομάδα</th>{% endif %}
            </tr>
            <tr>
                <td>{{request.proxyUser.username}}</td>
                <td>{{request.META.REMOTE_ADDR}}</td>
                <td>{{exercise.number}}</td>
                <td>{{course.school_year}}</td>
                {% if course.group %}<td>{{course.group}}</td>{% endif %}
            </tr>
        </table>
        <h3><span>Εργαστηριακή Άσκηση {{ exercise.number }}</span>{{ exercise.title}}</h3>
    </section>
    <section class="qas">
        <form method="post" action=" "enctype="multipart/form-data" >{% csrf_token %}
            {% for q in questions %} 
                <div class="qa">
                    {% if q.answer_type == "E" %}
                        {{ q.text|markdown}}
                    {% else %}
                        <div class="qa-desc panel">
                            <p class="num">{{ q.order }}</p>
                            {{ q.text|markdown }}
                        </div>
                    {% endif %}
                    {% if q.answer_type == "T" %}
                        <textarea placeholder="{{ q.order }} Απάντηση" name="{{q.field_name}}">{{q.value}}</textarea>
                    {% elif q.answer_type == "I" %}
                        <label for="file">{{ q.order }} Απάντηση</label>
                        <input type="file" name="{{q.field_name}}" accept="image/*"  />
                    {% endif %}
                </div>
            {% endfor %}
            {% if exercise.submission_code == 'O' or exercise.submission_code == 'I' %}            
                <p class="submit">
                    <button type="submit" class="save" name="save">Προσωρινή Αποθήκευση </button>
                    <button type="submit" class="button success" name="submit">Υποβολή</button>
                </p>
            {% endif %}
        </form>
    </section>
{% endblock main %}
