{% extends 'base.html' %}

{% block main %}
    <section class="title">
        <h4>{{course.name}}</h4>
        <table class="default">
            <tr>
                <th>'Ονομα</th>
                <th>IP</th>
                <th>Άσκηση</th>
                <th>Έτος</th>
                {% if course.group %}<th>Ομάδα</th>{% endif %}
            </tr>
            <tr>
                <td>{{request.proxyUser.username}}</td>
                <td>{{request.META.REMOTE_ADDR}}</td>
                <td>{{exercise.number}}</td>
                <td>{{course.school_year}}</td>
                {% if course.group %}<td>{{course.group}}</td>{% endif %}
            </tr>
        </table>
        <h3><span>Εργαστηριακή Άσκηση {{ exercise.number }}</span>{{ exercise.title}}</h3>
    </section>
            <section class="qas">
                <form method="post" action="" >{% csrf_token %}
                    <div class="theory">
                        {{ exercise.theory|safe }}
                    </div>
                    {% for question in exercise.questions %} 
                    <div class="qa">
                        <div class="qa-desc panel">
                            <p class="num">{{ question.order }}</p>
                            <p>{{ question.text }}</p>
                        </div>
                        {% if question.answer_type == "T" %}
                        <textarea placeholder="{{ question.order }} Απάντηση"></textarea>
                        {% elif question.answer_type == "I" %}
                        <label for="file">{{ question.order }} Απάντηση</label>
                        <input type="file" name="file" id="file" />
                        {% endif %}
                    </div>
                    {% endfor %}
                    <input type="hidden" value="{{exercise.submission_code}}" name="submission_code" />
                    {% if exercise.submission_code == 'O' or exercise.submission_code == 'I' %}            
                        <p class="submit">
                            <button type="submit" class="save" name="save">Προσωρινή Αποθήκευση </button>
                            <button type="submit" class="button success" name="submit">Υποβολή</button>
                        </p>
                    {% endif %}
                </form>
            </section>
{% endblock main %}
