{% load staticfiles %}       
       <header>
        <div class="row">                                                   <h1 class="small-5 column">
                <a href="{% url 'index' %}" title="">
                    <img src="{% static 'images/logo_ntua.png' %}" alt="">
                </a>
                <span>Εργαστήριο Δικτύων Υπολογιστών</span>
            </h1>
            <div class="small-7 column rt">
            {% if user.is_authenticated %}
                <p>Welcome <strong>{{ user.username }}</strong> <a href="{% url 'excercise.views.custom_logout' %}">(έξοδος)</a></p>
                <p><a href="{% url 'index' %}" {% if request.path == '/excercise/'%}class="current"{% endif %}>Οι ασκήσεις μου</a> | <a href="enroll.html">Τα μαθήματα μου</a></p>
            {% endif %}
            </div>
        </div>
        </header>

