{% extends 'base.html' %}
{% block main %}
   {% for mdlcourse in mdlcourses %}
        {{mdlcourse.shortname}}
   {% endfor %}
   {{user.is_moodle_user}}
    {% for course in courses %}
        <section class="title">
            <h6>Ακαδημαϊκό έτος: {{course.school_year}}</h6>
            <h4>
                <a href="{% url 'course' course.code %}">{{course.name}}</a><br> <span><strong>Oμάδα 1</strong> Τρίτη 10.30-12.45 </span>
            </h4>
        </section>
        {% include 'exercises_table.html' %}        
    {% endfor %}
{% endblock main %}
