<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CN - Olga Brani</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
        <script src="bower_components/modernizr/modernizr.js"></script>
    </head>
    <body>
        <header>
        <div class="row">                                                   <h1 class="small-5 column">
                <a href="index.html" title="">
                    <img src="{% static 'images/logo_ntua.png' %}" alt="">
                </a>
                <span>Εργαστήριο Δικτύων Υπολογιστών</span>
            </h1>
            <div class="small-7 column rt">
                <p>Welcome <strong>Olga Brani</strong> <a href="login.html">(έξοδος)</a></p>
                <p><a href="index.html" class="current">Οι ασκήσεις μου</a> | <a href="enroll.html">Τα μαθήματα μου</a></p>
            </div>
        </div>
        </header>
        <div class="row main">
            <section class="title">
            <h6>Ακαδημαϊκό έτος: 2009-2010</h6>
            <h4>Δίκτυα Υπολογιστών<br> <span><strong>Oμάδα 1</strong> Τρίτη 10.30-12.45 </span></h4>
            </section>
            <table class="default">
                <tr>
                    <th>#</th>
                    <th width="60%">Άσκηση</th>
                    <th>Υποβολή</th>
                    <th>Εκφώνηση</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Δικτύωση στα Microsoft Windows </td>
                    <td><a href="askisi.html">Ανοιχτό</a></td>
                    <td><a href="">PDF</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Wireshark: Αναλυτής Πρωτοκόλλων</td>
                    <td><a href="askisi.html">Ημιτελής</a></td>
                    <td><a href="">PDF</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Δικτύωση στα Microsoft Windows </td>
                    <td class="status"><span>✓</span>Υποβλήθηκε</td>
                    <td><a href="">PDF</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Δικτύωση στα Microsoft Windows </td>
                    <td class="status"><span>✓</span>Υποβλήθηκε</td>
                    <td><a href="">PDF</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Δικτύωση στα Microsoft Windows </td>
                    <td class="status"><span>✓</span>Υποβλήθηκε</td>
                    <td><a href="">PDF</a></td>
                </tr>
            </table>

            <section class="title">
            <h6>Ακαδημαϊκό έτος: 2009-2010</h6>
            <h4>Θεωρία πληροφορίας <br> <span><strong>Oμάδα 4</strong> Τρίτη 10.30-12.45</span></h4>
            </section>
            <table class="default">
                <tr>
                    <th>#</th>
                    <th width="60%">Άσκηση</th>
                    <th>Υποβολή</th>
                    <th>Εκφώνηση</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Δικτύωση στα Microsoft Windows </td>
                    <td><a href="askisi.html">Ανοιχτό</a></td>
                    <td><a href="">PDF</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Δικτύωση στα Microsoft Windows Wireshark: Αναλυτής Πρωτοκόλλων Δικτύωση στα Microsoft Windows Wireshark: Αναλυτής Πρωτοκόλλων</td>
                    <td><a href="askisi.html">Ημιτελής</a></td>
                    <td><a href="">PDF</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Πλοήγηση στον παγκόσμιο ιστό</td>
                    <td class="status"><span>✓</span>Υποβλήθηκε</td>
                    <td><a href="">PDF</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Πρωτόκολλο IP</td>
                    <td class="status"><span>✓</span>Υποβλήθηκε</td>
                    <td><a href="">PDF</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>TELNET, FTP και TFTP </td>
                    <td class="status"><span>✓</span>Υποβλήθηκε</td>
                    <td><a href="">PDF</a></td>
                </tr>
            </table>
        </div>
        <footer>
        <div class="row">
            <p>CN @ntua | ότι θέλουμε να λέει εδώ...</p>
        </div>
        </footer>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/foundation/js/foundation.min.js"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>

