*.db
*.egg
*.tar.gz
*.pyc
*~
*.*.swp
bin/
share/
build/
include/
*.pt.py
*.installed.cfg
*.sqlite3
.DS_Store
_build
.coverage

*.egg
*.tar.gz
**/django_cn/local.py
**/django_cn/documents/*
**/django_cn/uploads/*
