{% extends 'examiner/examiner_base.html' %}
{% load markdown_deux_tags %}

{% block main %}
gia eksetastes{{my_dict.submission}}
 <section class="title">
                <h4>{{ course.name }}<br> <span><strong>Oμάδα 1</strong> Τρίτη 10.30-12.45 </span></h4>
                <h3><span>Εργαστηριακή Άσκηση {{ exercise.number }}</span>{{ exercise.title}}</h3>
            </section>
            <section class="qas">
                <form>
                    <div class="theory">
                        {{ exercise.theory|safe }}
                    </div>
                    {% for q in exercise.questions %} 
                    <div class="qa">
                        {% if q.answer_type == 'E' %}
                            {{ q.text|markdown }}
                        {% else %}
                        <div class="qa-desc panel">
                            <strong class="num">{{ q.order }}</strong>
                            <p>{{ q.text|markdown }}</p>
                        </div>
                        {% endif %}
                        {% if q.answer_type == "T" %}
                        <textarea placeholder="{{ q.order }} Απάντηση"></textarea>
                        {% elif q.answer_type == "I" %}
                        <label for="file">{{ q.order }} Απάντηση</label>
                        <input type="file" name="file" id="file" />
                        {% endif %}
                    </div>
                    {% endfor %}
                    
                    <p class="submit">
                        <button>Προσωρινή Αποθήκευση </button>
                        <button type="submit" class="button success"data-reveal-id="unanswered" data-reveal>Υποβολή</button>
                    </p>
                </form>
                <form method="post" action="">{% csrf_token %}
                    <p class="panel grade-div">
                        <label for="">Βαθμός</label>
                        {{form.grade}}
                        <button type="submit" class="button success small">OK</button>
                    </p>
                </form>
            </section>
{% endblock main %}
