{% extends 'examiner/examiner_base.html' %}
{% load markdown_deux_tags %}

{% block main %}
<section class="title">
        <h4>{{course.name}}</h4>
        <table class="default">
            <tr>
                <th>Ονοματεπώνυμο</th>
                <th>IP</th>
                <th>Άσκηση</th>
                <th>Έτος</th>
                {% if group %}<th>Ομάδα</th>{% endif %}
            </tr>
            <tr>
                <td>{{student_fullname}}</td>
                <td>wip</td>
                <td>{{exercise.number}}</td>
                <td>{{exercise.course.school_year}}</td>
                {% if group %}<td>{{group}}</td>{% endif %}
            </tr>
        </table>
        <h3><span>Εργαστηριακή Άσκηση {{ exercise.number }}</span>{{ exercise.title}}</h3>
</section>

<section class="qas">
    <div class="clearfix">
        <div class="toggle-panel">
            <a href="" class="toggle-qa">Toggle <strong>questions</strong> visibility</a><br>
            <a href="" class="toggle-suggested">Toggle <strong>suggested answers</strong> visibility</a>
        </div>
    </div>
    {% for q in questions %} 
        <div class="qa">
        {% if q.answer_type == 'E' %}
            <div class="theory">
                {{ q.text|markdown }}
            </div>
        {% else %}
            <div class="qa-desc panel">
                <strong class="num">{{ q.order }}</strong>
                <p>{{ q.text|markdown }}</p>
            </div>
            <h4>Aπάντηση {{q.order}}</h4>
            <div class="answer">
            {% if q.answer_type == 'T' %}
                <a href="" class="star" title="mark this answer as suggested answer" data-question="{{q.pk}}">&nbsp;</a>
                <div>{{q.answer}}</div>
            {% elif q.answer_type == 'I' %}
                {{q.img_tag}}
            {% endif %}
            </div>
            {% if q.answer_type == 'T' %}
                <div class="suggested-answer">
                    {{q.suggested_answer}}
                </div>
            {% endif %}

        {% endif %}
         </div>
    {% endfor %}
    <form method="post" action="">{% csrf_token %}
        <p class="panel grade-div">
            <label for="">Βαθμός</label>
                {{form.grade}}
                 <button type="submit" class="button success small">OK</button>
         </p>
    </form>
</section>
{% endblock main %}
