{% extends 'examiner/examiner_base.html' %}
{% block main %}
{% for c in courses %}
<section class="title">
    <h6>Ακαδημαϊκό έτος: {{c.school_year}}</h6>
    <h4>{{c.name}}</h4>
</section>
<form action="" method="POST">{% csrf_token %}
{{ c.formset.management_form }}
<table class="default">
    <tr>
        <th>Name</th>
        <th>Group</th>
        {% for e in c.exercises %}
            <th>Exercise {{e.number}}</th>
        {% endfor %}
        <th>Final Grade</th>
    </tr>
    {% for f in c.formset %}
    {{f.id}}
    <tr>
        <td>{{f.fullname}}</td>
        <td>{{f.group}}</td>
        {% for e in f.exercises %}
            <td>{{e.grade}}</td>
        {% endfor %}
        <th>{{f.grade}}</th>
    </tr>
    {% endfor %}

</table>
{% if c.user_is_course_teacher %}
<button type="submit" value="save" name="{{c.button_name}}">Αποθήκευση τελικής βαθμολογίας</button>
{% endif %}
</form>
{% endfor %}
{% endblock main %}

