{% extends 'base.html' %}

{% block main %}
{% for c in courses %}
<section class="title">
    <h6>Ακαδημαϊκό έτος: {{c.school_year}}</h6>
    <h4>{{c.name}}</h4>
</section>
<table class="default">
    <tr>
        <th>Exercise</th>
        {% for g in c.groups %}
            <th>{{g.name}}</th>
        {% endfor %}
        <th>Συνολικά</th>
    </tr>
    {% for e in exercises %}
        {% if e.course_code == c.code %}
        <tr>
            <td>{{e.number}}</td>
            {% for g in c.groups %}
                <td>
                    <a href="{% url 'grading_list' e.course_code e.number g.pk %}">αδιόρθωτες</a>
                    <a href="{% url 'grading_list' e.course_code e.number g.pk %}?filtering=corrected">διορθωμένες</a>
                </td>
            {% endfor %}
            <td><a href="{% url 'grading_list' e.course_code e.number %}">αδιόρθωτες</a>
            <a href="{% url 'grading_list' e.course_code e.number %}?filtering=corrected">διορθωμένες</a></td>
        </tr>
        {% endif %}
    {% endfor %}
    <tr>
        <td>Όλες</td>
        {% for g in c.groups %}
        <td>
            <a href="{% url 'grading_list' c.code 0 g.pk %}">αδιόρθωτες</a>
            <a href="{% url 'grading_list' c.code 0 g.pk %}?filtering=corrected">διορθωμένες</a>
        </td>
        {% endfor %}
        <td>
            <a href="{% url 'grading_list' c.code %}">αδιόρθωτες</a>
            <a href="{% url 'grading_list' c.code %}?filtering=corrected">διοθωμένες</a>
        </td>

    </tr>
</table>
{% endfor %}
{% endblock main %}

