{% extends 'examiner/examiner_base.html' %}
{% block main %}
{% for c in courses %}
<section class="title">
    <h6>Ακαδημαϊκό έτος: {{c.school_year}}</h6>
    <h4>{{c.name}}</h4>
</section>
<table class="default">
    <tr>
        <th>'Ασκ.</th>
        {% for g in c.groups %}
            <th>{{g.name}}</th>
        {% endfor %}
        <th>Συνολικά</th>
    </tr>
    {% for e in exercises %}
        {% if e.course_code == c.code %}
        <tr>
            <th>{{e.number}}</th>
            {% for g in e.group_list %}
                <td>
                    {% if g.cnt_s > 0 %}
                        <a href="{% url 'grading_list' e.course_code e.number g.group_id %}" class="correctable"> {{g.cnt_s}} αδιόρθωτες</a>
                    {% endif %}
                    {% if g.cnt_c > 0 %}
                        <a href="{% url 'grading_list' e.course_code e.number g.group_id %}?filtering=corrected" class="corrected">{{g.cnt_c}} διορθωμένες</a>
                    {% endif %}
                </td>
            {% endfor %}
            <td>
                {% if e.cnt_s > 0 %}
                    <a href="{% url 'grading_list' e.course_code e.number %}" class="correctable">{{e.cnt_s}} αδιόρθωτες</a>
                {% endif %}
                {% if e.cnt_c > 0 %}
                    <a href="{% url 'grading_list' e.course_code e.number %}?filtering=corrected" class="corrected">{{e.cnt_c}} διορθωμένες</a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    <tr>
        <th>Όλες</th>
        {% for g in c.groups %}
        <td>
            {% if g.cnt_s > 0 %}
                <a href="{% url 'grading_list' c.code 0 g.pk %}" class="correctable">{{g.cnt_s}} αδιόρθωτες</a>
            {% endif %}
            {% if g.cnt_c > 0 %}
                <a href="{% url 'grading_list' c.code 0 g.pk %}?filtering=corrected" class="corrected">{{g.cnt_c}} διορθωμένες</a>
            {% endif %}
        </td>
        {% endfor %}
        <td>
            {% if c.cnt_subm_submitted >  0 %}
                <a href="{% url 'grading_list' c.code %}" class="correctable">{{c.cnt_subm_submitted}} αδιόρθωτες</a>
            {% endif %}
            {% if c.cnt_subm_corrected %}
                <a href="{% url 'grading_list' c.code %}?filtering=corrected" class="corrected">{{c.cnt_subm_corrected}} διοθωμένες</a>
            {% endif %}
        </td>

    </tr>
</table>
{% endfor %}
{% endblock main %}

