{% extends 'base.html' %}

{% block main %}
<section class="title">
    <h6>Ακαδημαϊκό έτος: 2009-2010</h6>
    <h4>Δίκτυα Υπολογιστών</h4>
</section>
<table class="default">
    <tr>
        <th>Άσκ.</th>
        <th>Ομάδα 1</th>
        <th>Ομάδα 2</th>
        <th>Ομάδα 3</th>
        <th>Ομάδα 4</th>
        <th>Ομάδα 5</th>
        <th>Ομάδα 6</th>
        <th>Συνολικά</th>
        <th>PDFs</th>
    </tr>
    <tr>
        <td>1</td>
        <td>
            <a href="admin-list.html" class="correctable">10 αδιόρθωτες</a>
            <a href="admin-list.html" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">50 αδιόρθωτες</a>
            <a href="" class="corrected"> 25 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="pdf questions" title="Η εκφώνηση της άσκησης">&nbsp;</a>
            <a href="" class="pdf answers" title="Προτεινόμενες απαντήσεις">&nbsp;</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">50 αδιόρθωτες</a>
            <a href="" class="corrected"> 25 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="pdf questions" title="Η εκφώνηση της άσκησης">&nbsp;</a>
            <a href="" class="pdf answers" title="Προτεινόμενες απαντήσεις">&nbsp;</a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">50 αδιόρθωτες</a>
            <a href="" class="corrected"> 25 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="pdf questions" title="Η εκφώνηση της άσκησης">&nbsp;</a>
            <a href="" class="pdf answers" title="Προτεινόμενες απαντήσεις">&nbsp;</a>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">50 αδιόρθωτες</a>
            <a href="" class="corrected"> 25 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="pdf questions" title="Η εκφώνηση της άσκησης">&nbsp;</a>
            <a href="" class="pdf answers" title="Προτεινόμενες απαντήσεις">&nbsp;</a>
        </td>
    </tr>
    <tr>
        <td>Όλες</td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">10 αδιόρθωτες</a>
            <a href="" class="corrected"> 5 διορθωμένες</a>
        </td>
        <td>
            <a href="" class="correctable">50 αδιόρθωτες</a>
            <a href="" class="corrected"> 25 διορθωμένες</a>
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
</table>
{% endblock main %}

