{% extends 'examiner/examiner_base.html' %}
{% block main %}
<section class="title">
<h6>Ακαδημαϊκό έτος: 2009-2010</h6>
<h4>Δίκτυα Υπολογιστών</h4>
</section>
<form action="" method="POST">{% csrf_token %}
 {{ formset.management_form }}
<table class="default sortable check-fun">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>Ασκηση</th>
            <th>Ομάδα</th>
            <th>Ονοματεπώνυμο</th>
            <th>Ημ/νία υποβολής</th>
            <th>Βαθμός</th>
            <th>PDF</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
    {% for form in formset %}
        <tr>
            {{form.id}}
            <td><input type="checkbox" value="{{form.hidden_input}}"></td>
            <td>{{form.exercise_number}}</td>
            <td>{{form.group_name}}</td>
            <td>{{form.username}}</td>
            <td>{{form.datetime_submitted}}</td>
            <td>{{form.grade}}</td>
            <td><a href="{% url 'pdf_answer' form.exercise_id form.user_id %}">Download</a></td>
            <td><a href="{% url 'answer' form.exercise_id form.user_id %}">View</a></td>
        </tr>
    {% endfor  %}
    </tbody>
</table>
<p class="submit">
    <button type="submit" class="button success" style="float:right;">Αποθήκευη βαθμών</button>
</p>
</form>
<form action="{% url 'pdf_answers' %}" method="POST">{% csrf_token %}
    {% for form in formset %}
    <input type="hidden" name="{{form.hidden_input}}" value="False">
    {% endfor %}
    <button type="submit" class="button info">PDFs επιλεγμένων</button>
</form>
{% endblock main %}
