{% extends 'base.html' %}
{% block main %}
<section class="title">
<h6>Ακαδημαϊκό έτος: 2009-2010</h6>
<h4>Δίκτυα Υπολογιστών</h4>
</section>
{{team_id}}<br>
{{course_code}}<br>
{{exercise_number}}<br>
{{filtering}}
<table class="default sortable">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>Ασκηση</th>
            <th>Ομάδα</th>
            <th>Ονοματεπώνυμο</th>
            <th>Ημ/νία υποβολής</th>
            <th>Βαθμός</th>
            <th>PDF</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
    {% for s in res %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{s.exercise_number}}</td>
            <td>{{s.group}}</td>
            <td>{{s.username}}</td>
            <td>{{s.date_modified}}</td>
            <td><input type="text" class="grade" value="{{s.grade}}"></td>
            <td>Download</td>
            <td>View</td>
        </tr>
    {% endfor  %}
           </tbody>
</table>
<p class="submit">
<button type="submit" class="button success" style="float:right;">Αποθήκευη βαθμών</button>
<button type="submit" class="button info">PDFs επιλεγμένων</button>

</p>
{% endblock main %}
