{% extends 'base.html' %}
{% block header_user %}{% endblock header_user %}
{% block menu %}{% endblock menu %}
{% block main %}
<div class="small-6 small-centered columns panel">
    <h3>Login</h3>
    <form method="post" action="{% url 'excercise.views.custom_login' %}">
     {% csrf_token %}
        <p>
            <label for="username">Username</label>
            <input type="text" name="username" />
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" />
        </p>
        {% if error %}
            <p class="error">{{error}}</p>
        {% endif %}
        <p>
            <input type="submit" class="button" value="Eίσοδος"/>
        </p>
    </form>
</div>
{% endblock main %}
